/* Tổng quan */
html, body, p {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 13px;
    color: #404040;
    font-family: Arial, Helvetica, sans-serif, Inter;
    height: 100%;
}

/* Content */
.content {
    margin-left: 250px;
    padding: 20px;
}

header h1 {
    margin-bottom: 20px;
}

.font-600{
    font-weight: 600;
}

button {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #f64b4b;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

form.hidden,
#editProductDetails.hidden {
    display: none;
}

form input,
form button {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Bảng sản phẩm */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: #fff;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
}

table td.status {
    font-weight: bold;
}

table td.status.in-stock {
    color: green;
}

table td.status.out-of-stock {
    color: red;
}

#editDetailsForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.hidden {
    display: none !important;
}

#specList div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.d-flex{
    display: flex;
}

.filters {
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(249, 249, 249, 0.71);
    border: 1px solid #ddd;
    border-radius: 5px;
}

.filters h3 {
    margin-bottom: 10px;
    font-weight: bold;
    margin-top: 10px;
}

.filter-group {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}

.filter-group label {
    margin-right: 5px;
}

.filter-group select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.align-items-center{
    align-items: center;
}

.btn-clear {
    background-color: #f64b4b;
    color: #fff;
    height: 25px;
    width: 50px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 15px;
}

.btn-clear:hover {
    background-color: #ff2e2e;
}

.btn-edit:hover{
    background: #0063d1;
}

/* Form Thông báo */
#notificationForm {
    margin-top: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 420px;
}

#notificationForm label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

#notificationForm input,
#notificationForm select,
#notificationForm textarea {
    width: 95%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: arial;
}

#notificationForm button {
    margin-top: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
}

#notificationForm button:hover {
    background-color: #0056b3;
}



