html, body, p {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #404040;
    font-family: Arial, sans-serif;
    height: 100%;
}

#page {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}


.iframe-header{
    height: 170px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.iframe-footer{
    width: 100%;
    height: 375px;
    position: relative;
    margin-top: auto;
}

#body_page{
    min-height: 700px;
    height: auto;
    margin-top: 200px;
    display: flex;
    flex-wrap: wrap;
}

#body_page .alpha{
    width: 810px;
    margin-right: 0;
    padding: 10px;
}

#body_page .omega{
    width: 380px;
    min-height: 400px;
    height: auto;
    margin-left: 30px;
}

#body_page .list-item{
    padding-top: 10px;
}

#body_page .item{
    width: 100%;
    height: 140px;
    border-radius: 5px;
    border: 1px solid #e5e7eb;
    margin-top: 20px;
    padding: 8px;
}

#body_page .payment{
    width: 100%;
    min-height: 400px;
    padding: 15px;
    padding-top: 30px !important;
}

.loc-relative{
    position: relative;
}

.border-gray{
    border: 1px solid #e5e7eb;
    border-radius: 5px;
}

.box-shadow-payment{
    box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 4px rgba(5, 27, 68, .08) !important;
}

.text-middle{
    font-size: 16px;
}

.upper-case{
    text-transform: uppercase;
}

.select-checkbox {
    position: absolute;
    top: 15px;       /* Cách phía trên một khoảng nhỏ */
    right: 15px;     /* Cách bên phải một khoảng nhỏ */
    width: 20px;
    height: 20px;
    appearance: none; /* Ẩn hiển thị mặc định của checkbox */
    background-color: #fff;
    border: 1px solid #c5c5c5;
    border-radius: 50%;
    cursor: pointer;
    margin: 0;
}

/* Hiệu ứng hình tròn khi checkbox được chọn */
.select-checkbox:checked::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    margin: auto;
    background-color: rgba(7, 108, 227, 0.6);
    border-radius: 50%;
    position: relative;
    top: 4px;
}

#body_page .product-img{
    height: 120px;
    width: 120px;
    vertical-align: middle;
    border: 1px solid #e5e7eb;
}

.margin-top-bot{
    margin: 20px 0;
}

.sale-round-border{
    width: 55px;
    height: 25px;
    background: #f44c4c;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 15px;
    font-weight: 600;
}

.duration-round-border{
    width: 135px;
    height: 25px;
    background: #f2f4f7;
    color: #344054;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.btn-add-sub{
    border: 1px solid #e5e7eb;
    border-radius: 5px;
    width: 120px;
    height: 30px;
}

.btn{
    width: 40px;
    font-size: 30px;
    color: #757575;
    cursor: pointer;
    transition: background-color 0.6s ease;
    user-select: none;
}

.btn:active{
    background-color: #b8c1ff;
}

.count{
    width: 42px;
    color: #416ec6;
    font-size: 15px;
    font-weight: 600;
    border-left: 1px solid #e5e7eb;
    border-right: 1px solid #e5e7eb;
}

.cost{
    font-size: 18px;
}

.btn-delete{
    width: 35px;
    height: 30px;
    border:1px solid #ed5252;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.btn-delete:hover{
    background: rgba(246, 159, 159, 0.51);
}

.f-right{
    float: right;
}

.main-cost{
    text-decoration: line-through;
    margin-right: 10px;
    color: #c0c0c0;
}

.w-full{
    width: 100%;
    height: 100px;
}

.iframe-header{
    height: 170px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.text-gray{
    font-size: 16px;
    color: #6e7c87;
}

.text-title{
    font-size: 20px;
    line-height: 120%;
    margin: 0;
}

.button-voucher{
    background: white;
    width: 100px;
    height: 44px;
    border-radius: 5px;
    border: 1px solid #1976d2;
    cursor: pointer;
}

.button-voucher:hover{
    background: rgba(25, 118, 210, 0.11) !important;
}

.button-pay{
    background: #1b5bd7;
    width: 100%;
    height: 44px;
    border-radius: 5px;
    border: 1px solid #1976d2;
    cursor: pointer;
    margin-top: 10px;
}

.font-sz18{
    font-size: 18px;
}

.font-sz16{
    font-size: 16px;
}

.pd-12{
    padding: 12px;
}


.font-600{
    font-weight: 600;
}

.d-flex{
    display: flex;
}

.justify-between{
    justify-content: space-between;
}

.items-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
}

.container{
    margin-left: 35px;
    margin-right: 35px;
}