html, body, p {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #404040;
    font-family: Arial, sans-serif;
    height: 100%;
}

#page {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.iframe-header {
    height: 170px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.iframe-footer{
    width: 100%;
    height: 375px;
    position: relative;
    margin-top: auto;
}

#body_page {
    min-height: 700px;
    height: auto;
    margin-top: 200px;
    display: flex;
    flex-wrap: wrap;
}

#body_page .alpha {
    width: 810px;
    margin-right: 0;
    height: auto;
    padding: 10px;
}

#body_page .omega {
    width: 380px;
    height: auto;
    margin-left: 30px;
}

.d-flex{
    display: flex;
}

.justify-between{
    justify-content: space-between;
}

.items-center{
    align-items: center;
}

.font-600{
    font-weight: 600;
}

.text-title {
    font-size: 20px !important;
    line-height: 120%;
    margin: 0;
}

.text-gray {
    font-size: 16px;
    color: #6e7c87;
}

.text-code {
    text-decoration: underline;
}

.info {
    width: 95%;
    border: 2px solid #e5e7eb;
    border-radius: 5px;
    margin-top: 20px;
    flex-direction: column;
    padding-top: 20px;
    line-height: 25px;
    margin-left: 20px;
}

.info-item {
    display: flex;
    justify-content: flex-start; /* Căn lề trái cho các phần tử */
    align-items: center; /* Căn các phần tử theo chiều dọc */
    margin-bottom: 10px; /* Khoảng cách giữa các phần tử */
    flex-wrap: nowrap;
}

.info-item label {
    width: 200px; /* Cố định chiều rộng cho label */
    font-weight: 600;
    white-space: nowrap; /* Đảm bảo text không bị xuống dòng */
}

.text-green{
    font-size: 16px;
    color: green;
}

.font-sz16 {
    font-size: 16px;
}

.editable {
    outline: none;
    border: none;
    background: transparent;
    width: 100%;
    height: 20px;
}

#body_page .rate {
    width: 100%;
    min-height: 300px;
    padding: 15px;
    padding-top: 30px !important;
}

.box-shadow{
    box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 4px rgba(5, 27, 68, .08) !important;
}

.border-gray {
    border: 1px solid #e5e7eb;
    border-radius: 5px;
}

.status-paid {
    color: green;
    font-weight: bold;
}

.rating {
    display: flex;
    gap: 5px;
    margin-bottom: 15px;
}

.star {
    font-size: 24px;
    cursor: pointer;
    color: #b1b1b1;
    transition: color 0.3s;
}

.star.selected {
    color: gold;
}

.review-box {
    width: 94%;
    height: 100px;
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 14px;
    resize: none;
}

.review-box::placeholder {
    font-family: Arial;
}

.submit-button {
    background: #1b5bd7;
    width: 100px;
    height: 44px;
    border-radius: 5px;
    border: 1px solid #1976d2;
    cursor: pointer;
    margin-top: 10px;
    color: white;
}

.submit-button:hover {
    background-color: #0056b3;
}

.font-sz18{
    font-size: 18px;
}

.pd-12 {
    padding: 12px;
}

.related-products {
    margin-top: 20px;
}

.products-grid {
    display: flex;
    gap: 15px;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 15px;
}

.product {
    width: 120px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 4px rgba(5, 27, 68, .08);
    padding: 10px;
    border-radius: 5px;
    margin-left: 5px;
}

.product:hover {
    transform: scale(1.1);
}

.product-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.product-name {
    font-size: 14px;
    color: #404040;
    font-weight: 600;
    margin: 5px 0;
    height: auto;
}

.product-price {
    font-size: 14px;
    color: #6e7c87;
}


.container {
    margin-left: 35px;
    margin-right: 35px;
}
