body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #404040;
    font-size: 14px;
}

.container {
    display: flex;
    width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin-top: 200px;
}

#page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.iframe-header {
    height: 170px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.iframe-footer {
    width: 100%;
    height: 375px;
    position: relative;
    margin-top: auto;
    background: #076ce3;
}

.sidebar {
    width: 200px;
    border-right: 1px solid #ddd;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.sidebar li a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
}

.sidebar li a:hover {
    background-color: #e9ecef;
}

.sidebar li a i {
    margin-right: 8px;
}

#main-content {
    flex: 1;
    padding-left: 20px;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
    font-size: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;

}

.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
}

.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

.form-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.form-button:hover {
    background-color: #0056b3;
}

.stats-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

.stat-item {
    flex: 1;
    text-align: center;
    font-size: 16px;
    color: black;
    font-weight: bold;
}
.notification {
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: #b62424; /* Green background */
    color: white;
    padding: 20px 20px;
    border-radius: 5px;
    display: none; /* Hidden by default */
    z-index: 1000; /* Ensure it appears above other content */
}