html, body, p {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #404040;
    font-family: Arial, sans-serif;
    height: 100%;
}

#page {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.iframe-header {
    height: 170px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.iframe-footer{
    width: 100%;
    height: 375px;
    position: relative;
    margin-top: auto;
}

#body_page {
    min-height: 700px;
    height: auto;
    margin-top: 200px;
    display: flex;
    flex-wrap: wrap;
}

#body_page .alpha {
    width: 810px;
    margin-right: 0;
    padding: 10px;
}

#body_page .omega {
    width: 380px;
    min-height: 400px;
    height: auto;
    margin-left: 30px;
}

#body_page .payment {
    width: 100%;
    min-height: 380px;
    padding: 15px;
    padding-top: 30px !important;
}

.border-gray {
    border: 1px solid #e5e7eb;
    border-radius: 5px;
}

.box-shadow-payment {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 4px rgba(5, 27, 68, .08) !important;
}

.text-middle {
    font-size: 16px;
}

.upper-case {
    text-transform: uppercase;
}

.w-full {
    width: 100%;
    height: 100px;
}

.text-gray {
    font-size: 16px;
    color: #6e7c87;
}

.text-code {
    text-decoration: underline;
}

.info {
    width: 95%;
    height: 200px;
    border: 2px solid #e5e7eb;
    border-radius: 5px;
    margin-top: 20px;
    flex-direction: column;
    padding-top: 20px;
    line-height: 25px;
    margin-left: 20px;
}

.info-item {
    display: flex;
    justify-content: flex-start; /* Căn lề trái cho các phần tử */
    align-items: center; /* Căn các phần tử theo chiều dọc */
    margin-bottom: 10px; /* Khoảng cách giữa các phần tử */
    flex-wrap: nowrap;
}

.info-item label {
    width: 200px; /* Cố định chiều rộng cho label */
    font-weight: 600;
    white-space: nowrap; /* Đảm bảo text không bị xuống dòng */
}

.text-title {
    font-size: 20px;
    line-height: 120%;
    margin: 0;
}

.editable {
    outline: none;
    border: none;
    background: transparent;
    width: 100%;
    height: 20px;
}

.editing-border {
    border: 1px solid #ccc; /* Viền xám nhạt */
    border-radius: 5px; /* Bo góc */
    padding: 1px; /* Tạo khoảng cách nhỏ bên trong */
}

.transfer-info .info-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    flex-wrap: nowrap;
}

.transfer-info .info-item label {
    width: 140px; /* Chiều rộng cố định cho nhãn */
    font-weight: 600;
    white-space: nowrap;
}

.transfer-info .info-item select{
    width: auto;
    height: 25px;
    min-width: 100px;
    font-weight: 600;
    white-space: nowrap;
    background: rgba(216, 216, 216, 0.5);
    color: #6e7c87;
}

.copyable {
    cursor: pointer;
    color: #1b5bd7;
}

.qr-code {
    width: 100px;
    height: 100px;
}

.button-pay {
    background: #1b5bd7;
    width: 220px;
    height: 44px;
    border-radius: 5px;
    border: 1px solid #1976d2;
    cursor: pointer;
    margin-top: 10px;
}

.back-button {
    height: 44px;
    width: 150px;
    background-color: white;
    color: rgba(255, 0, 0, 0.54);
    border: 1px solid rgba(255, 0, 0, 0.54);
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
}

.back-button:hover {
    background-color: rgba(251, 45, 45, 0.79); /* Nền màu hồng đậm khi rê chuột */
    color: white;
}

.rating-button {
    height: 44px;
    width: 150px;
    background-color: white;
    color: #f1ce2f;
    border: 1px solid #f1ce2f;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
}

.rating-button:hover {
    background-color: #FFD966; /* Màu nền vàng đậm khi hover */
    color: #ffffff; /* Chữ trắng */
}


.font-sz18 {
    font-size: 18px;
}

.font-sz16 {
    font-size: 16px;
}

.pd-12 {
    padding: 12px;
}


.font-600 {
    font-weight: 600;
}

.d-flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
}

.container {
    margin-left: 35px;
    margin-right: 35px;
}