html, body {
    font-family: Arial,Helvetica, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#login .title {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}

#login .label {
    display: block;
    margin-top: 20px;
    color: #555;
    text-align: left;
    font-weight: bold;
}

#login .input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#login .submit {
    background-color: #007bff;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    font-size: 16px;
}

#login .submit:hover {
    background-color: #0056b3;
}

#login .forgot-password {
    color: #007bff;
    text-decoration: none;
    margin-top: 15px;
    display: inline-block;
    float: right;
    font-size: 14px;
}

#login .forgot-password:hover {
    text-decoration: underline;
}

#login .signup {
    margin-top: 20px;
    font-size: 14px;
    color: #555;
}

#login .signup-label,
#login .signup-link {
    display: inline;
    margin: 0;
}

#login .signup-link {
    color: #007bff;
    text-decoration: none;
}

#login .signup-link:hover {
    text-decoration: underline;
}
.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 320px;
    text-align: center;
}
.notification {
    position: fixed;
    bottom: 40px; /* Di chuyển xuống dưới */
    right: 40px; /* Di chuyển sang bên phải */
    background-color: #b62424; /* Green background */
    color: white;
    padding: 20px 20px;
    border-radius: 5px;
    display: none; /* Hidden by default */
    z-index: 1000; /* Ensure it appears above other content */
}