/* Cơ bản */
html, body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f7f9fc;
    color: #404040;
    font-size: 14px;
}

.container {
    width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Tiêu đề chính */
.main-title {
    font-weight: bold;
    color: black;
    text-align: center;
    margin-bottom: 20px;
}

/* Tiêu đề phần */
.section-title {
    font-weight: 600;
    color: black;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Nội dung mô tả */
.section-description {
    color: #444;
    margin-bottom: 15px;
}